<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="form-inline">
  <div class="form-group col-5">
    <label class="mr-2">Filtro: </label>
    <input type="text" [(ngModel)]="filtroLista" class="form-control mr-2" placeholder="buscar">
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <button class="btn btn-outline-secondary btn-sm" (click)="exibeImg = !exibeImg">
          <i class="{{exibeImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{exibeImg ? 'Exibir' : 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoa</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventosFiltrados.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="exibeImg" [isAnimated]="true" src="/assets/{{evento.imagemUrl}}"
          [style.width.px]="100"
          [style.margin.px]="2" />
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-md-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr class="text-center"><td colspan="8">Nenhum evento encontrado!</td></tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
