<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="form-group mb-2">
        <div class="input-group-prepend d-flex">
          <div class="input-group-text" style="width: 70px; border-top-right-radius: 0; border-bottom-right-radius: 0;">Filtro: </div>
          <div style="width: 100%; margin-right: 10px;">
            <input type="text" [(ngModel)]="filtroLista" class="form-control" placeholder="filtrar por tema e local">
          </div>
        </div>
      </div>
    </div>

    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="d-none d-sm-block" style="padding-left: 5px;">Adicionar</b>
      </a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell">
          <button class="btn btn-outline-secondary btn-sm" (click)="exibeImg = !exibeImg">
            <i class="{{exibeImg ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{exibeImg ? 'Exibir' : 'Ocultar'}}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoa</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th style="text-align: center;">Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventosFiltrados.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td class="d-none d-md-table-cell">
          <img [collapse]="exibeImg" [isAnimated]="true" src="/assets/{{evento.imagemUrl}}"
            [style.width.px]="100"
            [style.margin.px]="2" />
        </td>
        <td>{{evento.id}}</td>
        <td>{{evento.tema}}</td>
        <td class="d-none d-md-table-cell">{{evento.local}}</td>
        <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0].nome}}</td>
        <td style="text-align: center;">
          <button type="button" class="btn btn-danger btn-md" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr class="text-center"><td colspan="8">Nenhum evento encontrado!</td></tr>
    </tfoot>
  </table>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

