<h1>Eventos</h1>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder-buscar="">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoa</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngFor="let evento of eventos">
    <tr>
      <td></td>
      <td></td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
