<app-titulo [titulo]="'Perfil'"></app-titulo>
<p>Form value: {{form.value | json}}</p>
<p>Form valid: {{form.status | json}}</p>
<div class="card rouded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Graduação</label>
            <select class="form-control form-select" formControlName="graduacao"
              placeholder="Selecione o Título" [ngClass]="{'is-invalid': f.graduacao.errors && f.graduacao.touched}">
              <option value=""></option>
              <option value="Nenhuma">Nenhuma</option>
              <option value="Ensino Superior">Ensino Superior</option>
              <option value="Pós Graduação">Pós Graduação</option>
              <option value="Mestrado">Mestrado</option>
              <option value="Doutorado">Doutorado</option>
              <option value="Pós Doutorado">Pós Doutorado</option>
            </select>
            <div class="invalid-feedback" *ngIf="f.graduacao.errors?.required && f.graduacao.touched">
              Graduação é obrigatória.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Primeiro Nome</label>
            <input [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}" formControlName="nome" type="text" class="form-control"/>
            <div class="invalid-feedback" *ngIf="f.nome.errors?.required && f.nome.touched">
              Primeiro Nome é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label>Último nome</label>
            <input [ngClass]="{'is-invalid': f.sobrenome.errors && f.sobrenome.touched}" formControlName="sobrenome" type="text" class="form-control"/>
            <div class="invalid-feedback" *ngIf="f.sobrenome.errors?.required && f.sobrenome.touched">
              Último Nome é obrigatório.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" formControlName="email" type="text" class="form-control" />
            <div class="invalid-feedback" *ngIf="f.email.errors?.required && f.email.touched">
              E-mail é obrigatório.
            </div>
            <div class="invalid-feedback" *ngIf="f.email.errors?.email && f.email.touched">
              Deve ser um endereço de e-mail válido.
            </div>
          </div>
          <div class="form-group col-sm-4">
            <label>Telefone</label>
            <input [ngClass]="{'is-invalid': f.phone.errors && f.phone.touched}" formControlName="phone" type="text" class="form-control" />
            <div class="invalid-feedback" *ngIf="f.phone.errors?.required && f.phone.touched">
              Phone é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Função</label>
            <select class="form-select" formControlName="funcao"
              [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div class="invalid-feedback" *ngIf="f.funcao.errors?.required && f.funcao.touched">
              Função é obrigatória.
            </div>
          </div>
          <form-group class="col-12">
            <label>Descrição</label>
            <input [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}" formControlName="descricao" type="text" class="form-control" />
            <div class="invalid-feedback" *ngIf="f.descricao.errors?.required && f.descricao.touched">
              Descrição é obrigatória.
            </div>
          </form-group>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="row">
          <div class="form-group col-sm">
            <label>Senha</label>
            <input [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" formControlName="senha" type="password" class="form-control" />
            <div class="invalid-feedback" *ngIf="f.senha.errors?.required && f.senha.touched">
              Senha é obrigatória.
            </div>
          </div>
          <div class="form-group col-sm">
            <label>Confirmar Senha</label>
            <input [ngClass]="{'is-invalid': f.confirmaSenha.errors && f.confirmaSenha.touched}" formControlName="confirmaSenha" type="password" class="form-control" />
            <div class="invalid-feedback" *ngIf="f.confirmaSenha.errors?.required && f.confirmaSenha.touched">
              Confirma Senha é obrigatório.
            </div>
            <div class="invalid-feedback"  *ngIf="f['confirmaSenha'].errors['matching']">
              As Senhas devem ser iguais.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
